<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/tmp/logs/s334420_server6.log</file>
        <encoder>
            <pattern>%d{dd.mm.yyyy HH:mm:ss} [%thread] %-5level %logger{60} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="error">
        <appender-ref ref="FILE"/>
    </root>
    <root level="warn">
        <appender-ref ref="FILE"/>
    </root>
    <root level="info">
        <appender-ref ref="FILE"/>
    </root>
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>

</configuration>